# Virtual environment
cyber_env/

# Python cache
__pycache__/
*.py[cod]

# Generated outputs
outputs/
vector_store/
mlruns/
mlflow.db
logs/

# IDE
.vscode/
.idea/

# Environment
.env

# Dataset
data/*.csv

# FAISS / embeddings
*.index
*.pkl

# OS
.DS_Store
Thumbs.db